@charset "utf-8";
/* CSS Document */
body {
	background:url(../images/bgImage.png);
	background-repeat:no-repeat;
	background-position:top center;
}
.title {
	height:60px;
	margin-left:100px;
}

/*左上 */
.BOD {
	height:50px;
	width:185px;
	margin-left:160px;
	background-image:url(../images/logo.png);
	float:left;
}

/* 右上 */
.title2 {
	height:50px;
	margin-left:740px;
	float:inherit;
	font-size:14px;
	color:#666;
}

.title2 a:link{
	color:#666;
	text-decoration:none;
}

.title2 a:visited{
	color:#666;
	text-decoration:none;
}

/* 搜索 */
.search {
	margin-top:-25px;
	margin-left:740px;
}
.line1 {
	height:8px;
	width:823px;
	margin-left:250px;
}

/* 导航 */
.nav {
	height:35px;
	width:823px;
	background-image:url(../images/nav.png);
	margin-left:250px;
	margin-top:10px;
}

.nav li{
	display:inline;
	padding-left:25px;
	margin-top:10px;
	height:35px;
	line-height:20px;
	color:#FFF;
	float:left;
}
.nav a:link{
	color:#fff;
	text-decoration:none;
}

.nav a:visited{
	color:#fff;
	text-decoration:none;
}

.nav a:hover {
	color:#333;
}
.con {
	color:#CCC;
	font-size:14px;
	margin-left:620px;
	height:35px;
	line-height:48px;
}

/* 登录框 */
.content {
	margin-top:15px;
	margin-left:250px;

}

.login {
	height:218px;
	width:253px;
	background-image:url(../images/login.png);
	float:left;
}

.regist {
	padding-top:8px;
	padding-left:30px;
}

.regist a:link,a:visited {
	color:#000;
	text-decoration:none;
}
.regist a:hover {
	color:#666;
}

.loginM {
	padding-top:35px;
	padding-left:15px;
	color:#999;
	font-size:12px;
}

.logined {
	padding-top:50px;
	padding-left:35px;
}
.logined span {
	font-size:14px;
	font-weight:bold;
}
.logined span a:link,a:visited {
	color:#333;
	text-decoration:none;
}

/* 主要内容 index */
.main1 {
	/*background-image:url(../images/main.png);*/
	height:218px;
	width:552px;
	margin-left:270px;
}
/* 主要内容 */
.main2 {
	background-image:url(../images/main.png);
	height:218px;
	width:552px;
	margin-left:270px;
	text-align:center;
	font-size:14px;
}

#m {
	position:absolute;
	width:370px;
	left:650px;
	top:180px;
}

/* 余额 */
#m1 {
	position:absolute;
	width:300px;
	left:650px;
	top:240px;
	
}
.bottom {
	margin-top:200px;
	margin-left:250px;
	
}




.word_orange{
 color:#FF6600;
}
